.background-wrapper {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  position: relative;
  background-color: #f4f2f6;
  display: flex;
  align-items: center;
}

.background-purple-area {
  
  position: absolute;
  top: 0;
  width: 100svw;
  background-color: #a76ae4;
  height: 450px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: 1;
}

.children-container {
  background-color: transparent;
  z-index: 1;
}
